doctype html
html(lang="en")
  head
    title Super Profile Manager
    link(href="/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="/font-awesome/css/font-awesome.min.css", rel="stylesheet")
    link(href="css/styles.css", rel="stylesheet")
  body
    .containter
      .col-sm-12.top
        h2.title Super Profile Manager
      .col-sm-12.top
        form.form-horizontal.login
          input(id="user", type="text", placeholder="Login", required)
          input(id="pass", type="password", placeholder="Password", required)
          button.btn.btn-md.btn-default#login(type="submit") Login
        button.btn.btn-md.btn-default#profile Own
        button.btn.btn-md.btn-default#others Others
        hr.colorgraph
      .profile

    include ./modal

    script(src="/jquery/dist/jquery.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    script(src="js/main.js")
